.container{
    margin: 50px auto;
}
.calculator{
    max-width: 600px;
    margin:20px auto;
    padding:50px;
    background-color: #242D44;
}
.item{
    display: flex;
    justify-content: center;
    margin:5px;
    padding:10px;
    background-color: #E9E3DB;
}
.input{
    margin: auto;
    padding:0 10px;
    height: 50px;
}
.screen{
    max-width: 600px;
    background-color: #171F32;
    border-radius: 10px;
    color:white;
    text-align: right;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    margin: auto;
}